*~
*__pycache__*
local_config.py
*.log
*.vscode
# ocra_lib/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
build/
develop-eggs/
dist/
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/